pid /run/nginx.pid;
error_log /var/log/nginx/error.log;

worker_processes  auto;
events {
    worker_connections  10000;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"'
		      '"X-Real-IP $remote_addr"';


    access_log  /var/log/nginx/access.log  main;

    sendfile        on;

    keepalive_timeout  65;

    # load balance for backend
    {% if my_group is defined %}
    upstream back {
        ip_hash;
    {% for host in groups[my_group] %}
        server {{ hostvars[host].ansible_ssh_host }}:8082;
    {% endfor %}
    }

    server {
        server_name  _;
        listen       80 default_server;
        listen       [::]:80 default_server;
        add_header   X-Frame-Options SAMEORIGIN;

        proxy_buffers 8 1024k;
        proxy_buffer_size 1024k;

        proxy_send_timeout 300s;
        proxy_read_timeout 300s;

        root /etc/nginx/html;

        location / {
            index index.html;
            try_files $uri $uri/ /index.html =404;
        }

        location /api {
            proxy_pass http://back/api;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location /login {
            proxy_pass http://back/login;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location /logout {
            proxy_pass http://back/logout;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location /service/login {
            proxy_pass http://back/service/login;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location /service/logout {
            proxy_pass http://back/service/logout;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location /forbidden {
            proxy_pass http://back/service/login;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        error_page 404 /404.html;
          location = /40x.html {
        }

        error_page 500 502 503 504 /50x.html;
          location = /50x.html {
        }
    }
    {% endif %}

    {% if api_group is defined %}

    upstream admin-api {
    {% for host in groups[api_group] %}
        server {{ hostvars[host].ansible_ssh_host }}:8084 max_fails=0;
    {% endfor %}
    }

    upstream admin-print-api {
    {% for host in groups[api_group] %}
        server {{ hostvars[host].ansible_ssh_host }}:8086 max_fails=0;
    {% endfor %}
    }
    server {
        server_name  _;
        listen       8084 default_server;
        listen       [::]:8084 default_server;
        add_header   X-Frame-Options SAMEORIGIN;

        proxy_buffers 8 1024k;
        proxy_buffer_size 1024k;

	location /adm-api {
	  proxy_pass http://admin-api;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
        location /api/print {
          proxy_pass http://admin-print-api;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
    {% endif %}


}
