[Unit]
Description=Promtail Service
After=network.target

[Service]
Type=simple
User={{ promtail_user }}
Group={{ promtail_group }}
ExecStart=/usr/local/bin/promtail-linux-amd64 -config.file=/etc/promtail/promtail.yaml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
PIDFile=/var/run/promtail.pid
StandardOutput=file:/var/log/promtail.log
StandardError=file:/var/log/promtail_error.log

[Install]
WantedBy=multi-user.target
