#Конфигурация логирования приложения
logging:
  #Задание уровней логирования
  level:
    ROOT: DEBUG
    ru.atc: DEBUG
    net.sf.ehcache: OFF

#Стандартные конфиги для Spring application
spring:
  #Наименование сервиса
  application:
    name: {{ eureka.names.admin_migration }}
  main:
    allow-bean-definition-overriding: true
  profiles:
    active: template
  devtools:
    restart:
      enabled: true
      additional-exclude: static/**
    livereload:
      enabled: false # we use Webpack dev server + BrowserSync for livereload
  jackson:
    serialization:
      indent-output: true
  #Конфигурирование подключения к БД
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:postgresql://{{ adm.db.url }}/{{ adm.db.database }}?currentSchema=adm
    username: {{ adm.db.username }}
    password: {{ adm.db.password }}
    hikari:
      poolName: Hikari
      auto-commit: false
  jpa:
    database-platform: io.github.jhipster.domain.util.FixedPostgreSQL10Dialect
    show-sql: false
  liquibase:
    # Remove 'faker' if you do not want the sample data to be loaded automatically
    contexts: dev
  mail:
    host: localhost
    port: 25
    username:
    password:
  messages:
    cache-duration: PT1S # 1 second, see the ISO 8601 standard
  thymeleaf:
    cache: false

#Задание порта у запущенного сервиса
server:
  port: {{ port }}

#Конфигурация настроек СУДИС
#Подробнее о настройке https://gitlab.akb-it.ru/GISMU2.0/shared-components/-/tree/develop/shared-sudis-security
sudis:
  #Тайм-аут подключения
  connectionTimeout: 18000
  #Тайм-аут ожидания ответа
  readTimeout: 18000
  #Эндпоинт для получения токена
  spAuthEndpoint: http://api.{{ sudis.env }}/dsapi/tbr/cciSpAuth
  #Конфигурация для CMS сервера
  cms:
    #Эндпоит для шифрования запроса
    encodeUrl: http://{{ sudis.cms }}/encode
    #Эндпоинт для дешифрования запроса
    decodeUrl: http://{{ sudis.cms }}/decode
    #Тайм-аут подключения
    connectionTimeout: 18000
    #Тайм-аут ожидания ответа
    readTimeout: 18000
    #Наименование сертификата сервиса (как в заявке в СУДИС)
    senderKeySubject: {{ adm.cn_code }}
    sp:
      key:
        subject: {{ adm.cn_code }}
    #Субъект-получатель сертификата. Всегда idp
    recipientCertificateSubject: idp

#Конфигурация feign клиентов для синхронного взаимодействия
feign:
  #Код сервиса (как в заявке в СУДИС)
  spCode: {{ adm.service_code }}
  #Код синхронного роутера
  targetCode: {{ sudis.targetCode }}
  #Тайм-аут подключения
  connectTimeoutMillis: 10000
  #Тайм-аут ожидания ответа
  readTimeoutMillis: 60000
  #Урл сихнронного роутера
  #При отсутствии у feign клиента конфигурации, по умолчании будет использован именно этот url
  url: http://{{ feign.router }}
  #Feign клиенты
  services:
    #Сервис НСИ. Используется для работы со справочниками
    nsi:
      url: {{ nsiUrl }}
    #Устаревший сервис НСИ, будет убран в будущем. Используется для работы со справочниками
    nsiCommon:
      url: {{ nsiUrl }}
    #Клиент для отождествления адресов в сервисе НСИ
    nsiMigration:
      url: {{ migration.nsiMigration }}
    #Клиент для отождествления ЮЛ для поставщиков
    esul:
      url: http://{{ feign.router }}
    #Сервис файлового хранилища (ФХ), который отдает ответ не в виде json, а в виде строки.
    #Используется для миграции файлов
    simpleFileStorage:
      url: http://{{ feign.fileStorage }}

#Конфигурации, используемые в приложении
application:
  migration:
    log:
      #Задание пути для формирования файла с результатами миграции
      filePath: /usr/share/admin-migration/logs/
