#Конфигурация логирования приложения
logging:
  #Задание уровней логирования
  level:
    ROOT: INFO
    io.github.jhipster: INFO
    ru.atc.gismu.adm: INFO
    net.sf.ehcache: OFF

#Стандартные конфиги для Spring application
spring:
  #Наименование сервиса
  application:
    name: {{ eureka.names.admin_print_api }}
  main:
    allow-bean-definition-overriding: true
  profiles:
    active: template
  devtools:
    restart:
      enabled: true
      additional-exclude: static/**
    livereload:
      enabled: false # we use Webpack dev server + BrowserSync for livereload
  jackson:
    serialization:
      indent-output: true
  #Конфигурирование подключения к БД
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:postgresql://{{ adm.db.url }}/{{ adm.db.database }}?currentSchema=admservice
    username: {{ adm.db.username }}
    password: {{ adm.db.password }}
    hikari:
      poolName: Hikari
      auto-commit: false
  jpa:
    database-platform: io.github.jhipster.domain.util.FixedPostgreSQL10Dialect
    show-sql: false
  liquibase:
    # Remove 'faker' if you do not want the sample data to be loaded automatically
    contexts: dev
  messages:
    cache-duration: PT1S # 1 second, see the ISO 8601 standard
  thymeleaf:
    cache: false

#Конфигурации, специфичные для Jhipster приложений
jhipster:
  #Включение CORS
  cors:
    allowed-origins: '*'
    allowed-methods: '*'
    allowed-headers: '*'
    exposed-headers: 'Link,X-Total-Count'
    allow-credentials: true
    max-age: 1800

#Задание порта у запущенного сервиса
server:
  port: {{ port }}

#Конфигурация Эврики для регистрации сервиса в синхронном роутере
eureka:
  client:
    #Логический параметр регистрации клиента. Если false, то не будет виден в Эврике
    enabled: true
    serviceUrl:
      #Адреса серверов Эврики
      defaultZone: {{ eureka.url }}
  instance:
    #Данный параметр необходим для того, чтобы в Эврике использоваля ip адрес сервиса, а не его hostname
    preferIpAddress: true
    #Используется, чтобы статически задать хост сервиса, регистрируемого в Эврике
    ip-address: {{ ansible_ssh_host }}
    #Используется, чтобы статически задать порт сервиса, регистрируемого в Эврике
    non-secure-port: {{ port }}
