#Конфигурация логирования приложения
logging:
  #Задание уровней логирования
  level:
    ROOT: INFO
    ru.atc: INFO
    net.sf.ehcache: OFF

#Конфигурации, используемые в приложении
application:
  version: {{ adm_branch_back }}
  #Версия виджета печати
  widgetVersion: 0.3.2

#Стандартные конфиги для Spring application
spring:
  #Наименование сервиса
  application:
    name: {{ eureka.names.admin_api }}
  main:
    allow-bean-definition-overriding: true
  profiles:
    active: template
  devtools:
    restart:
      enabled: true
      additional-exclude: static/**
    livereload:
      enabled: false # we use Webpack dev server + BrowserSync for livereload
  jackson:
    serialization:
      indent-output: true
  #Конфигурирование подключения к БД
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:postgresql://{{ adm.db.url }}/{{ adm.db.database }}?currentSchema=adm
    username: {{ adm.db.username }}
    password: {{ adm.db.password }}
    hikari:
      poolName: Hikari
      auto-commit: false
  jpa:
    database-platform: io.github.jhipster.domain.util.FixedPostgreSQL10Dialect
    show-sql: false
  liquibase:
    contexts: dev
  mail:
    host: localhost
    port: 25
    username:
    password:
  messages:
    cache-duration: PT1S # 1 second, see the ISO 8601 standard
  thymeleaf:
    cache: false

#Задание порта у запущенного сервиса
server:
  port: {{ port }}

#Конфигурация настроек СУДИС
sudis:
  #Тайм-аут подключения
  connectionTimeout: 18000
  #Тайм-аут ожидания ответа
  readTimeout: 18000
  #Эндпоинт для получения токена
  spAuthEndpoint: http://api.{{ sudis.env }}/dsapi/tbr/cciSpAuth
  #Конфигурация для CMS сервера
  cms:
    #Эндпоит для шифрования запроса
    encodeUrl: http://{{ sudis.cms }}/encode
    #Эндпоинт для дешифрования запроса
    decodeUrl: http://{{ sudis.cms }}/decode
    #Тайм-аут подключения
    connectionTimeout: 18000
    #Тайм-аут ожидания ответа
    readTimeout: 18000
    #Наименование сертификата сервиса (как в заявке в СУДИС)
    senderKeySubject: {{ adm.cn_code }}
    sp:
      key:
        subject: {{ adm.cn_code }}
    #Субъект-получатель сертификата. Всегда idp
    recipientCertificateSubject: idp

#Конфигурация feign клиентов для синхронного взаимодействия
feign:
  #Код сервиса (как в заявке в СУДИС)
  spCode: {{ adm.service_code }}
  #Код синхронного роутера
  targetCode: {{ sudis.targetCode }}
  #Урл сихнронного роутера
  #При отсутствии у feign клиента конфигурации, по умолчании будет использован именно этот url
  url: http://{{ feign.router }}
  #Тайм-аут подключения
  connectTimeoutMillis: 10000
  #Тайм-аут ожидания ответа
  readTimeoutMillis: 60000
  #Feign клиенты
  services:
    #Сервис admin-service. Используется для взаимодействия по фоновым задачам, выполняемым
    #на стороне модуля "Администрирование", для взаимодействия по конфигурациям
    #и настройкам оборудования и ПО
    adminService:
      #Тайм-аут подключения
      connectTimeoutMillis: 10000
      #Тайм-аут ожидания ответа
      readTimeoutMillis: 60000
      #Пока используется хост. Если будет более одной ноды admin-service, то настроить балансировку
      #и добавить ссылка на балансировщик
      url: http://{{ hostvars[groups['adm-service'][0]].ansible_ssh_host }}:8083
    #Клиент для работы с модулем НСИ (параметризованные запросы, поиск, получение записей)
    nsi:
      url: {{ nsiUrl }}
    #Клиент для получения всех записей из одоного справочника НСИ
    nsiCommon:
      url: {{ nsiUrl }}


#Конфигурация Эврики для регистрации сервиса в синхронном роутере
eureka:
  client:
    #Логический параметр регистрации клиента. Если false, то не будет виден в Эврике
    enabled: true
    serviceUrl:
      #Адреса серверов Эврики
      defaultZone: {{ eureka.url }}
  instance:
    #Данный параметр необходим для того, чтобы в Эврике использоваля ip адрес сервиса, а не его hostname
    preferIpAddress: true
    #Используется, чтобы статически задать хост сервиса, регистрируемого в Эврике
    ip-address: {{ ansible_ssh_host }}
    #Используется, чтобы статически задать порт сервиса, регистрируемого в Эврике
    non-secure-port: {{ port }}

#Конфигурация для включения\выключения проверки spCode, для ограничения доступа в общему API
#и взаимодействию только через синхронный роутер
spcode:
  validation:
    enabled: {{ adm.spCode_validation }}
