#Конфигурация логирования приложения
logging:
  #Задание уровней логирования
  level:
    ROOT: INFO
    io.github.jhipster: INFO
    ru.atc.gismu.adm: INFO
    net.sf.ehcache: OFF

#Стандартные конфиги для Spring application
spring:
  #Наименование сервиса
  application:
    name: {{ eureka.names.admin_service }}
  main:
    allow-bean-definition-overriding: true
  profiles:
    active: template
  devtools:
    restart:
      enabled: true
      additional-exclude: static/**
    livereload:
      enabled: false # we use Webpack dev server + BrowserSync for livereload
  jackson:
    serialization:
      indent-output: true
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    #Конфигурирование подключения к БД
    url: jdbc:postgresql://{{ adm.db.url }}/{{ adm.db.database }}?currentSchema=admservice
    username: {{ adm.db.username }}
    password: {{ adm.db.password }}
    hikari:
      poolName: Hikari
      auto-commit: false
  jpa:
    database-platform: io.github.jhipster.domain.util.FixedPostgreSQL10Dialect
    show-sql: false
  liquibase:
    contexts: dev
  messages:
    cache-duration: PT1S # 1 second, see the ISO 8601 standard
  thymeleaf:
    cache: false
  #Настройки клиента Кафка
  kafka:
    #Настройки для продюсеров
    producer:
      #Адреса bootstrap серверов Кафка
      bootstrap-servers: {{ kafka }}
      #Сериализотор ключа
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      #Сериализотор сообщения
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      #Код продюсера
      group-id: admin-service-prod
    #Настройки для слушателей
    consumer:
      #Адреса bootstrap серверов Кафка
      bootstrap-servers: {{ kafka }}
      #Сериализотор ключа
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      #Сериализотор сообщения
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      #Код слушателя
      group-id: admin-service-prod

#Конфигурации, используемые в приложении
application:
  kafka:
    #Топики кафка
    topic-names:
      adm-jobs-in-topic: admJobsIn
      adm-jobs-out-topic: admJobsOut

#Задание порта у запущенного сервиса
server:
  port: {{ port }}

#Конфигурация настроек СУДИС
sudis:
  #Тайм-аут подключения
  connectionTimeout: 18000
  #Тайм-аут ожидания ответа
  readTimeout: 18000
  #Эндпоинт для получения токена
  spAuthEndpoint: http://api.{{ sudis.env }}/dsapi/tbr/cciSpAuth
  #Конфигурация для CMS сервера
  cms:
    #Эндпоит для шифрования запроса
    encodeUrl: http://{{ sudis.cms }}/encode
    #Эндпоинт для дешифрования запроса
    decodeUrl: http://{{ sudis.cms }}/decode
    #Наименование сертификата сервиса (как в заявке в СУДИС)
    senderKeySubject: {{ adm.cn_code }}
    sp:
      key:
        subject: {{ adm.cn_code }}
    #Тайм-аут подключения
    connectionTimeout: 18000
    #Тайм-аут ожидания ответа
    readTimeout: 18000
    #Субъект-получатель сертификата. Всегда idp
    recipientCertificateSubject: idp

#Конфигурация feign клиентов для синхронного взаимодействия
feign:
  #Код сервиса (как в заявке в СУДИС)
  spCode: {{ adm.service_code }}
  #Код синхронного роутера
  targetCode: {{ sudis.targetCode }}
  #Урл сихнронного роутера
  #При отсутствии у feign клиента конфигурации, по умолчании будет использован именно этот url
  url: http://{{ feign.router }}
  #Тайм-аут подключения
  connectTimeoutMillis: 10000
  #Тайм-аут ожидания ответа
  readTimeoutMillis: 60000
  #Feign клиенты
  services:
    #Сервис admin-api. Используется для получения информации о пользователе в ходе взаимодействия
    #по фоновым задачам
    adminApi:
      url: http://{{ ansible_ssh_host }}:8084
    #Сервис НСИ. Используется для работы со справочниками
    nsi:
      url: {{ nsiUrl }}
    #Устаревший сервис НСИ, будет убран в будущем. Используется для работы со справочниками
    nsiCommon:
      url: {{ nsiUrl }}
    #Клиент для отправки запросов к другим подсистемам
        #Используется для взаимодействия по фоновым задачам и счетчикам номеров дел
        #Взаимодействие происходит как через шину, так и напрямую (когда изначально задан конкретный ip)
    externalSystemFeignClient:
      url: http://{{ feign.router }}
    #Моковый клиент (обращаемся сами к себе). В будущем будет убран
    #Используется для взаимодействия по фоновым задачам и счетчикам номеров дел
    #Взаимодействие происходит как через шину, так и напрямую (когда изначально задан конкретный ip)
    mockSystemFeignClient:
      url: http://{{ ansible_ssh_host }}:8083
    #Сервис файлового хранилища (ФХ). Используется для загрузки/скачивания файлов, получения мета-данных
    #о файлах.
    fileStorage:
      url: http://{{ feign.fileStorage }}
    #Сервис файлового хранилища (ФХ), который отдает ответ не в виде json, а в виде строки.
    #Используется для fileLink по guid файла
    simpleFileStorage:
      url: http://{{ feign.fileStorage }}

#Сервис файлового хранилища (ФХ) из shared компонентов
#Используется для загрузки файлов
fileStorageClient:
  node: {{ feign.fileStorage }}
