#Настройка эндпоинтов spring-boot actuator
management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: ['configprops', 'env', 'health', 'info', 'jhimetrics', 'logfile', 'loggers', 'prometheus', 'threaddump']
  info:
    git:
      mode: full
  health:
    mail:
      enabled: false # When using the MailService, configure an SMTP server and set this to true

#Конфигурация логирования приложения
logging:
  #Задание уровней логирования
  level:
    ROOT: DEBUG
    io.github.jhipster: DEBUG
    ru.atc: DEBUG
    net.sf.ehcache: OFF

#Стандартные конфиги для Spring application
spring:
  #Наименование сервиса
  application:
    name: {{ eureka.names.admin_backend }}
  main:
    allow-bean-definition-overriding: true
  profiles:
    active: template
  devtools:
    restart:
      enabled: true
      additional-exclude: static/**
    livereload:
      enabled: false # we use Webpack dev server + BrowserSync for livereload
  jackson:
    serialization:
      indent-output: true
  #Конфигурирование подключения к БД
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:postgresql://{{ adm.db.url }}/{{ adm.db.database }}?currentSchema=adm
    username: {{ adm.db.username }}
    password: {{ adm.db.password }}
    hikari:
      poolName: Hikari
      auto-commit: false
  jpa:
    database-platform: io.github.jhipster.domain.util.FixedPostgreSQL10Dialect
    show-sql: false
  liquibase:
    enabled: true
    # Remove 'faker' if you do not want the sample data to be loaded automatically
    contexts: dev
  messages:
    cache-duration: PT1S # 1 second, see the ISO 8601 standard
  thymeleaf:
    cache: false
  #Настройки клиента Кафка
  kafka:
    #Настройки для продюсеров
    producer:
      #Адреса bootstrap серверов Кафка
      bootstrap-servers: {{ kafka }}
      #Сериализотор ключа
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      #Сериализотор сообщения
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      #Код продюсера
      group-id: admin-backend-prod
    #Настройки для слушателей
    consumer:
      #Адреса bootstrap серверов Кафка
      bootstrap-servers: {{ kafka }}
      #Сериализотор ключа
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      #Сериализотор сообщения
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      #Код слушателя
      group-id: admin-backend-prod

#Задание порта у запущенного сервиса
server:
  port: {{ port }}

#Конфигурации, специфичные для Jhipster приложений
jhipster:
  #Включение CORS
  cors:
    allowed-origins: '*'
    allowed-methods: '*'
    allowed-headers: '*'
    exposed-headers: 'Link,X-Total-Count'
    allow-credentials: true
    max-age: 1800
  metrics:
    logs: # Reports metrics in the logs
      enabled: false
      report-frequency: 60 # in seconds
  logging:
    use-json-format: false # By default, logs are not in Json format
    logstash: # Forward logs to logstash over a socket, used by LoggingConfiguration
      enabled: false
      host: localhost
      port: 5000
      queue-size: 512
  audit-events:
    retention-period: 30 # Number of days before audit events are deleted.

#Конфигурация настроек СУДИС
#Подробнее о настройке https://gitlab.akb-it.ru/GISMU2.0/shared-components/-/tree/develop/shared-sudis-security
sudis:
  #Код сервиса (как в заявке в СУДИС)
  service-code: {{ adm.service_code }}
  #Эндпоинт для получения токена
  spAuthEndpoint: http://api.{{ sudis.env }}/dsapi/tbr/cciSpAuth
  #Тайм-аут подключения
  connectionTimeout: 18000
  #Тайм-аут ожидания ответа
  readTimeout: 18000
  #Чтобы в любом случае возвращать объект Principal, когда авторизация в сервисе произошла (даже с пустыми ролями)
  admin:
    dev-mode: true
  #Настройка, касающаяся SAML запросов
  saml:
    spfilter:
      #Url, на который будет отправлен ответ от СУДИС при авторизации (как в заявке в СУДИС)
      acsUrl: http://{{ adm.balancer }}/login
      #Url, на который будет отправлен ответ от СУДИС при выходе из учетной записи (как в заявке в СУДИС)
      logoutUrl: http://{{ adm.balancer }}/logout
      #Эндпоинт SSO
      idProviderSSOUrl: http://idp.{{ sudis.env }}/idp/profile/SAML2/POSTGOST/SSO
      #Эндпоинт SLO
      idProviderSLOUrl: http://idp.{{ sudis.env }}/idp/profile/SAML2/Redirect/SLO # тоже адрес судиса
      #Эндпоинт, на который будет произведен редирект в случае успешной авторизации
      #Как правило, это адрес, на котором развернут frontend или nginx
      relayStateUri: http://{{ adm.balancer }}
      #Эндпоинт, на который будет отправлен запрос для выхода из учетной записи
      sudisLogoutUrl: http://idp.{{ sudis.env }}/idp/Logout
    uri:
      #Эндпоинт на стороне сервиса для выхода из учетной записи
      logout: /service/logout
      #Эндпоинт на стороне сервиса для авторизации
      login: /service/login
    #Настройка индекса сессии авторизованного пользователя
    session:
      sessionIndexPattern: ${SUDIS_SAML_SESSION_ID_PATTERN:'s:(.+?):'}
      deleteAllUserSessionFlag: false
  #Настройки, касающиеся сервера CMS
  cms:
    enable: true
    #Эндпоит для шифрования запроса
    encodeUrl: http://{{ sudis.cms }}/encode
    #Эндпоинт для дешифрования запроса
    decodeUrl: http://{{ sudis.cms }}/decode
    #Наименование сертификата сервиса (как в заявке в СУДИС)
    senderKeySubject: {{ adm.cn_code }}
    #Субъект-получатель сертификата. Всегда idp
    recipientCertificateSubject: idp
    api:
      encode:
        url: http://{{ sudis.cms }}/encode
      decode:
        url: http://{{ sudis.cms }}/decode
    #Тайм-аут подключения
    conn:
      timeout: 20000
    #Тайм-аут ожидания ответа
    read:
      timeout: 20000
    #Наименование сертификата сервиса (как в заявке в СУДИС)
    sp:
      key:
        subject: {{ adm.cn_code }}
    #Субъект-получатель сертификата. Всегда idp
    idp:
      cert:
        subject: idp

#Конфигурация feign клиентов для синхронного взаимодействия
feign:
  #Код сервиса (как в заявке в СУДИС)
  spCode: {{ adm.service_code }}
  #Код синхронного роутера
  targetCode: {{ sudis.targetCode }}
  #Урл сихнронного роутера
  #При отсутствии у feign клиента конфигурации, по умолчании будет использован именно этот url
  url: http://{{ feign.router }}
  #Feign клиенты
  services:
    #Клиент для отправки запросов к другим подсистемам
    #Используется для взаимодействия по фоновым задачам и счетчикам номеров дел
    #Взаимодействие происходит как через шину, так и напрямую (когда изначально задан конкретный ip)
    externalSystemFeignClient:
      url: http://{{ feign.router }}
    #Сервис audit-api. Используется для поиска записей в журнале операций и журнале событий
    #базовых сервисов
    caseAudit:
      url: {{ adm.audit_api_balancer }}
    #Сервис admin-service. Используется для взаимодействия по фоновым задачам(поиск, создание,
    #получение информации), для взаимодействия по конфигурациям, счетчикам номеров дел
    #и настройкам оборудования и ПО
    adminService:
      url: http://{{ hostvars[groups['adm-service'][0]].ansible_ssh_host }}:8083
    #Сервис файлового хранилища (ФХ). Используется для загрузки/скачивания файлов, получения мета-данных
    #о файлах.
    fileStorage:
      url: http://{{ feign.fileStorage }}
    #Сервис файлового хранилища (ФХ), который отдает ответ не в виде json, а в виде строки.
    #Используется для генерации ссылки для загрузки/скачивания файлов
    simpleFileStorage:
      url: http://{{ feign.fileStorage }}
    nsi:
      url: {{ nsiUrl }}
    nsiCommon:
      url: {{ nsiUrl }}

#Конфигурация адреса микросервиса печати, в который будут проксироваться запросы, получаемые
#на url api/print/*
resttemplate:
  printApi:
    url: {{ adm.print_api_balancer }}


#Конфигурации, используемые в приложении
application:
  kafka:
    #Топики кафка
    topic-names:
      adm-aud-user-login-in-topic: admAudUserLoginIn

#Адреса конфигурация (сервисов, адрес который хранится на бэке, а получается фронтом непосредственно
# перед отправкой запроса)
redirect:
  settings:
    selfUrl: http://{{ ansible_ssh_host }}:8082
    caseAuditUrl: {{ adm.audit_api_balancer }}
    fileStorageUrl: http://{{ feign.fileStorage }}
    routerUrl: http://{{ feign.router }}
    widgetBaseUrl: {{ hostvars[groups['adm-front'][0]].ansible_ssh_host }}:8082
    esulUrl: http://{{ redirect.esulUrl }}

#Конфигурация адресов сервисов, для которых настроено проксирование запросов от frontend
proxy:
  settings:
    search-service-api: http://{{ widgets.search_service_api }}/search_service_api
    data-api-public: http://{{ widgets.data }}/data-api/public/v2/
    data-manager-public: http://{{ widgets.data }}/data-manager/public/v1/
    api-signals: http://{{ widgets.api_signals }}/api/signals

#Сервис файлового хранилища (ФХ) из shared компонентов
#Используется для загрузки файлов и получения имени файла по fileLink
fileStorageClient:
  node: {{ feign.fileStorage }}
