#Конфигурация логирования приложения
logging:
  #Задание уровней логирования
  level:
    ROOT: INFO
    io.github.jhipster: INFO
    ru.atc: INFO
    net.sf.ehcache: OFF

#Стандартные конфиги для Spring application
spring:
  #Наименование сервиса
  application:
    name: {{ eureka.names.audit_api }}
  main:
    allow-bean-definition-overriding: true
  profiles:
    active: template
  devtools:
    restart:
      enabled: true
      additional-exclude: static/**
    livereload:
      enabled: false # we use Webpack dev server + BrowserSync for livereload
  jackson:
    serialization:
      indent-output: true
  #Конфигурирование подключения к БД
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:postgresql://{{ adm.db.url }}/{{ adm.db.database }}?currentSchema=admcaseaud
    username: {{ adm.db.username }}
    password: {{ adm.db.password }}
    hikari:
      poolName: Hikari
      auto-commit: false
  jpa:
    database-platform: io.github.jhipster.domain.util.FixedPostgreSQL10Dialect
    show-sql: false
  liquibase:
    # Remove 'faker' if you do not want the sample data to be loaded automatically
    contexts: dev
  messages:
    cache-duration: PT1S # 1 second, see the ISO 8601 standard
  thymeleaf:
    cache: false
  #Настройки клиента Кафка
  kafka:
    #Настройки для продюсеров
    producer:
      #Адреса bootstrap серверов Кафка
      bootstrap-servers: {{ kafka }}
      #Сериализотор ключа
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      #Сериализотор сообщения
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      #Код продюсера
      group-id: audit-api-prod
    consumer:
      #Адреса bootstrap серверов Кафка
      bootstrap-servers: {{ kafka }}
      #Сериализотор ключа
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      #Сериализотор сообщения
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      #Код слушателя
      group-id: audit-api-prod

#Конфигурации, используемые в приложении
application:
  #Топики кафка
  kafka:
    topic-names:
      adm-sys-in-topic: admSysIn
      adm-sys-out-topic: admSysOut
      adm-aud-base-service-in-topic: admAudBaseServiceIn
      adm-aud-base-service-out-topic: admAudBaseServiceOut
      adm-sys-plain-in-topic: admSysPlainIn
      adm-sys-plain-out-topic: admSysPlainOut
    consumers:
      #Максимальное число потоков для чтения сообщений консьюмерами для каждого из топиков
      threads-number:
        adm-aud-base-service: 10
        adm-sys-in: 10
        adm-sys-plain-in: 10

#Задание порта у запущенного сервиса
server:
  port: {{ port }}

#Конфигурация настроек СУДИС
sudis:
  #Тайм-аут подключения
  connectionTimeout: 18000
  #Тайм-аут ожидания ответа
  readTimeout: 18000
  #Эндпоинт для получения токена
  spAuthEndpoint: http://api.{{ sudis.env }}/dsapi/tbr/cciSpAuth
  #Конфигурация для CMS сервера
  cms:
    #Эндпоит для шифрования запроса
    encodeUrl: http://{{ sudis.cms }}/encode
    #Эндпоинт для дешифрования запроса
    decodeUrl: http://{{ sudis.cms }}/decode
    #Тайм-аут подключения
    connectionTimeout: 18000
    #Тайм-аут ожидания ответа
    readTimeout: 18000
    #Наименование сертификата сервиса (как в заявке в СУДИС)
    senderKeySubject: {{ adm.cn_code }}
    sp:
      key:
        subject: {{ adm.cn_code }}
    #Субъект-получатель сертификата. Всегда idp
    recipientCertificateSubject: idp

#Конфигурация feign клиентов для синхронного взаимодействия
feign:
  #Код сервиса (как в заявке в СУДИС)
  spCode: {{ adm.service_code }}
  #Код синхронного роутера
  targetCode: {{ sudis.targetCode }}
  #Урл сихнронного роутера
  #При отсутствии у feign клиента конфигурации, по умолчании будет использован именно этот url
  url: http://{{ feign.router }}
  #Тайм-аут подключения
  connectTimeoutMillis: 10000
  #Тайм-аут ожидания ответа
  readTimeoutMillis: 60000
  #Feign клиенты
  services:
    #Сервис admin-api. Используется для получения информации о пользователе, совершающем аудируемые действия
    adminApi:
      url: http://{{ ansible_ssh_host }}:8084
    #Сервис НСИ. Используется для работы со справочниками
    nsi:
      url: {{ nsiUrl }}
    #Устаревший сервис НСИ, будет убран в будущем. Используется для работы со справочниками
    nsiCommon:
      url: {{ nsiUrl }}

