#Уровни логирования
logging:
  level:
    ROOT: INFO #общие компоненты
    ru.atc: INFO #компоненты ГИСМУ

spring:
  application:
    name: {{ eureka.names.labmig_etl }} #имя приложения
  devtools:
    restart:
      enabled: true
      additional-exclude: static/**
    livereload:
      enabled: false # we use Webpack dev server + BrowserSync for livereload
  jackson:
    serialization:
      indent-output: true
  jpa:
    database-platform: io.github.jhipster.domain.util.FixedPostgreSQL10Dialect
    show-sql: false
  liquibase:
    contexts: dev
  kafka:
    bootstrap-servers: {{ kafka }} #адрес кафки
    consumer:
      group-id: {{ component }} #имя консьюмера приложения в кафке
  task:
    execution:
      pool:
        core-size: 16
        max-size: 50
        queue-capacity: 1000

server:
  port: {{ port }} #порт приложения

sudis:
  service-code: {{ labm.service_code }}
  spAuthEndpoint: {{ sudis.spAuthEndpoint }}
  saml:
    spfilter:
      acsUrl: http://{{ labm.balancer }}/login
      logoutUrl: http://{{ labm.balancer }}/logout
      idProviderSSOUrl: http://idp.{{ sudis.env }}/idp/profile/SAML2/POSTGOST/SSO
      idProviderSLOUrl: http://idp.{{ sudis.env }}/idp/profile/SAML2/Redirect/SLO
      relayStateUri: http://{{ labm.balancer }}/{{ labm.front_url }}
      sudisLogoutUrl: http://idp.{{  sudis.env }}/idp/Logout
    uri:
      logout: /service/logout
      login: /service/login
    session:
      sessionIndexPattern: ${SUDIS_SAML_SESSION_ID_PATTERN:'s:(.+?):'}
      deleteAllUserSessionFlag: false
  cms:
    enable: true
    encodeUrl: http://{{ sudis.cms }}/encode
    decodeUrl: http://{{ sudis.cms }}/decode
    senderKeySubject: {{ labm.cn_code }}
    recipientCertificateSubject: idp
    api:
      encode:
        url: http://{{ sudis.cms }}/encode
      decode:
        url: http://{{ sudis.cms }}/decode
    conn:
      timeout: ${SUDIS_CMS_CONN_TIMEOUT:20000}
    read:
      timeout: ${SUDIS_CMS_READ_TIMEOUT:20000}
    sp:
      key:
        subject: {{ labm.cn_code }}
    idp:
      cert:
        subject: ${SUDIS_IDP_SUBJECT:idp}
  connectionTimeout: 18000
  readTimeout: 18000

feign:
  spCode: {{ labm.service_code }}
  targetCode: {{ sudis.targetCode }}
  url: http://{{ feign.router }} #адрес синхроутера
  connectTimeoutMillis: 5000
  readTimeoutMillis: 5000
  services:
    #Обычные апи администрирования
    adminApi:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: {{ adm.api_balancer }}
    #Отождествление справочных значений
    nsi:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: {{ nsiUrl }}
    #Старый ЕСФЛ
    esfl:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: ${feign.url}/esfl/v1
    #Новый ЕСФЛ
    newEsfl:
      connectTimeoutMillis: 120000
      readTimeoutMillis: 120000
      url: http://{{ feign.newEsfl }}/gw/esfl/v1
    #получение данных ЮЛ
    esul:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: ${feign.url}
    # Апи получения нового ИД поставщика и логина пользователя
    adminMigration:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: {{ migration.admMigration }}
    #Отождествление ЮЛ при миграции
    esulMigration:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: {{ migration.esulMigration }}
    #Отождествление адресов
    nsiMigration:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: {{ migration.nsiMigration }}
    #Не используется но должно быть определено чтобы стартануло приложение
    blank:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      #Not in router, need separate url
      url: ${BLANK_URL:http://172.26.151.143:30683/blank-external-backend}
    #Не используется но должно быть определено чтобы стартануло приложение
    ad:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      #Not in router, need separate url
      url: http://172.26.151.223:8380/ad
    #Миграция вложений
    fileStorage:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: "http://{{ feign.fileStorage }}"
    #Получение мета данных файла
    simpleFileStorage:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: "http://{{ feign.fileStorage }}"
    #Не используется но должно быть определено чтобы стартануло приложение
    signal:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: http://172.26.151.91:9902
    #Не используется но должно быть определено чтобы стартануло приложение
    idgenerator:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      #Not in router, need separate url
      url: ${ID_GENERATOR_URL:http://172.26.151.165:30702/id-generator/api}
    #Не используется но должно быть определено чтобы стартануло приложение
    visa:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: ${feign.url}
    #Не используется но должно быть определено чтобы стартануло приложение
    mcd:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      #Not in router, need separate url
      url: http://172.26.151.165:30722/mcd/api
    #Для миграции бланков
    blankMigration:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: http://{{ feign.blankService }}


fileStorageClient:
  node: "{{ feign.fileStorage }}"

eureka:
  client:
    enabled: false

application:
  datasource:
#    БД ТМ схема етл
    etl:
      jdbcUrl: jdbc:postgresql://{{labm_mig.ip}}:5432/{{labm_mig.db}}?currentSchema=lm_etl
      username: '{{labm_mig.user}}'
      password: '{{labm_mig.user}}'
      maximumPoolSize: 50
      pool-name: etl-datasource
#    БД ТМ схема есфл
    esfl:
      jdbcUrl: jdbc:postgresql://{{labm_mig.ip}}:5432/{{labm_mig.db}}?currentSchema=esfl
      username: '{{labm_mig.user}}'
      password: '{{labm_mig.user}}'
      maximumPoolSize: 10
      pool-name: esfl-datasource
#    БД ТМ схема ТМ
    main:
      jdbcUrl: jdbc:postgresql://{{labm.db}}:5432/database01?currentSchema={{labm.schema}}
      username: '{{labm_mig.user}}'
      password: '{{labm_mig.user}}'
      maximumPoolSize: 50
      pool-name: main-datasource
      auto-commit: false

#Включение/отключение отождествление в конкретной подсистеме
  migration:
    esfl: true
    esul: true
    admin: true
    nsi: true
    signal: true
    mode: {{ labmig_mode }}
    migration_param:
      delay: {{ labm.migration_param.delay }} #Параметр как часто брать дела на миграцию. Значение в миллисекундах, не должно быть меньше 700мс.
      count: {{ labm.migration_param.count }} #Параметр какое количество дел брать на миграцию. Значение не должно быть больше 100.
    convert_param:
      delay: {{ labm.convert_param.delay }} #Параметр как часто брать дела на отождествление. Значение в миллисекундах, не должно быть меньше 800мс.
      count: {{ labm.convert_param.count }} #Параметр какое количество дел брать на отождествление. Значение не должно быть больше 100.


esfl:
  equate:
    receive:
      topic: {{esfl.equate.receive.topic}}
  event:
    message: 
      topic: {{esfl.event.message.topic}}


#Название топиков для отождествления ФЛ в ЕСФЛ
esfl_ppot_topic:  {{ esfl_ppot_topic_name }}
esfl_cbduig_topic: {{ esfl_cbduig_topic_name }}
esfl_sync_topic: {{ esfl_sync_topic_name }} #имя топика для синхронизации ФЛ в ЕСФЛ
esfl_change_state_topic: {{ esfl_change_state_topic_name }} #имя топика для смены состояния ОУ в ЕСФЛ
