#Уровни логирования
logging:
  level:
    ROOT: DEBUG #общие компоненты
    ru.atc: DEBUG #компоненты ГИСМУ

spring:
  application:
    name: {{ eureka.names.labmig_backend }} #имя приложения
  profiles:
    active: template
  devtools:
    restart:
      enabled: true
      additional-exclude: static/**
    livereload:
      enabled: false # we use Webpack dev server + BrowserSync for livereload
  jackson:
    serialization:
      indent-output: true
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: ${DATABASE_URL:jdbc:postgresql://{{labm.db}}:5432/database01?currentSchema={{labm.schema}}} #адрес БД
    username: ${DATABASE_LOGIN:postgress_adm} #логин БД
    password: ${DATABASE_PASSWORD:postgress_adm} #пароль БД
    hikari:
      poolName: Hikari
      auto-commit: false
  jpa:
    database-platform: io.github.jhipster.domain.util.FixedPostgreSQL10Dialect
    show-sql: false
  liquibase:
    contexts: dev
  kafka:
    bootstrap-servers: {{ kafka }} #адрес кафки
    consumer:
      group-id: {{ component }} #имя консьюмера приложения в кафке

server:
  port: {{ port }} #порт приложения

sudis:
  service-code: {{ labm.service_code }}
  spAuthEndpoint: {{ sudis.spAuthEndpoint }}
  saml:
    spfilter:
      acsUrl: http://{{ labm.balancer }}/login
      logoutUrl: http://{{ labm.balancer }}/logout
      idProviderSSOUrl: http://idp.{{ sudis.env }}/idp/profile/SAML2/POSTGOST/SSO
      idProviderSLOUrl: http://idp.{{ sudis.env }}/idp/profile/SAML2/Redirect/SLO
      relayStateUri: http://{{ labm.balancer }}/{{ labm.front_url }}
      sudisLogoutUrl: http://idp.{{  sudis.env }}/idp/Logout
    uri:
      logout: /service/logout
      login: /service/login
    session:
      sessionIndexPattern: ${SUDIS_SAML_SESSION_ID_PATTERN:'s:(.+?):'}
      deleteAllUserSessionFlag: false
  cms:
    enable: true
    encodeUrl: http://{{ sudis.cms }}/encode
    decodeUrl: http://{{ sudis.cms }}/decode
    senderKeySubject: {{ labm.cn_code }}
    recipientCertificateSubject: idp
    api:
      encode:
        url: http://{{ sudis.cms }}/encode
      decode:
        url: http://{{ sudis.cms }}/decode
    conn:
      timeout: ${SUDIS_CMS_CONN_TIMEOUT:20000}
    read:
      timeout: ${SUDIS_CMS_READ_TIMEOUT:20000}
    sp:
      key:
        subject: {{ labm.cn_code }}
    idp:
      cert:
        subject: ${SUDIS_IDP_SUBJECT:idp}
  connectionTimeout: 18000
  readTimeout: 18000

feign:
  spCode: {{ labm.service_code }}
  targetCode: {{ sudis.targetCode }}
  url: http://{{ feign.router }} #адрес синхроутера
  connectTimeoutMillis: {{ feign.connectTimeoutMillis }}
  readTimeoutMillis: {{ feign.readTimeoutMillis }}
  services:
    #Роспаспорт
    rfPassport:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: http://{{ feign.rfPassport }}/passport-rf-external-backend
    #Обычные апи администрирования
    adminApi:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: {{ adm.api_balancer }}
    #Получение значений справочников
    nsi:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: {{ nsiUrl }}
    #Старый есфл
    esfl:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: ${feign.url}/esfl/v1
    #Новый есфл
    newEsfl:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: http://{{ feign.newEsfl }}/gw/esfl/v1
    #получение данных ЮЛ
    esul:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: ${feign.url}
    #Получение бланков
    blank:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      #Not in router, need separate url
      url: http://{{ feign.blank }}/blank-external-backend
    #Администрирование доходов
    ad:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      #Not in router, need separate url
      url: http://{{ feign.ad }}/ad
    #Работа с ФХ
    fileStorage:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: http://{{ feign.fileStorage }}
    #Работа с ФХ
    simpleFileStorage:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: http://{{ feign.fileStorage }}
    #Сигналы
    signal:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: http://{{ feign.signal }}
    #Счетчики дел
    idgenerator:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      #Not in router, need separate url
      url: http://{{ feign.idgenerator }}/id-generator/api
    #Визы
    visa:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: http://{{ feign.visa }}
    #МигКарты
    mcd:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: http://{{ feign.mcd }}/mcd/api
    #МигКарты
    mcdRequest:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: http://{{ feign.mcdRequest }}/mcd/api
    #Ибдф
    ibdf:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: ${feign.url}
    #Ибдф
    ibdfPerson:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: ${feign.url}
    #Ибдф
    ibdfConvicted:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: ${feign.url}
    #Мигучет
    mu:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: http://{{ feign.mu }}/mig/api
    reg:
      connectTimeoutMillis: ${feign.connectTimeoutMillis}
      readTimeoutMillis: ${feign.readTimeoutMillis}
      url: http://{{ feign.reg }}

fileStorageClient:
  node: "{{ feign.fileStorage }}"

eureka:
  client:
    enabled: true
    serviceUrl:
      defaultZone: {{ eureka.url }} #адрес эврики
  instance:
    preferIpAddress: true
    ip-address: {{ ansible_ssh_host }}
    non-secure-port: ${server.port}


#адреса прокси которые вызываются с фронта
proxy:
  settings:
    esfl-v1: http://{{ widgets.esfl_v1 }}/esfl/v1
    search-service-api: http://{{ widgets.search_service_api }}/search_service_api
    data-api-public: http://{{ widgets.data }}/data-api/public/
    data-manager-public: http://{{ widgets.data }}/data-manager/public/
    api-signals: http://{{ widgets.api_signals }}/api/signals
    api-mu: http://{{ widgets.migUchet }}/mig/api

redirect:
  settings:
    selfUrl: http://{{ labm.balancer }}/{{ labm.front_url }}
    adminUrl: http://{{ adm.balancer }}
    nsiUrl: http://{{ redirect.nsiUrl }}/catalogs
    esflUrl: http://{{ redirect.esflUrl }}
    esulUrl: http://{{ redirect.esulUrl }}
    fsUrl: http://{{ redirect.fsUrl }}
    reportsUrl: http://{{ redirect.reportsUrl }}
    macBaseUrl: http://{{ redirect.macUrl }}/mac
    macUrl: http://{{ redirect.macUrl }}/mac/search?serviceCode=labm
    macMonitoringUrl: http://{{ redirect.macUrl }}/mac/case/search?serviceCode=labm
    analyticalReportsUrl: http://{{ redirect.analyticalReportsUrl }}

application:
  print-form:
    #параметр для печатных форм отказа и аннулирований откуда брать должность и фио,
    #которое нужно напечатать в документе (либо из данных подразделения либо ответственный юзер)
    #возможные значения: responsible_user, department
    print-blank-footer: responsible_user
    version: {{ labm_branch_back }} #версия приложения
