logging:
  level:
    ROOT: DEBUG
    ru.atc: DEBUG

spring:
  application:
    name: {{ eureka.names.licence_etl }}
  profiles:
    active: template
  devtools:
    restart:
      enabled: true
      additional-exclude: static/**
    livereload:
      enabled: false # we use Webpack dev server + BrowserSync for livereload
  jackson:
    serialization:
      indent-output: true
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: ${DATABASE_URL:jdbc:postgresql://{{lic.db}}:5432/database01?currentSchema={{lic.schema}}}
    username: ${DATABASE_LOGIN:postgress_adm}
    password: ${DATABASE_PASSWORD:postgress_adm}
    hikari:
      poolName: Hikari
      auto-commit: false
  jpa:
    database-platform: io.github.jhipster.domain.util.FixedPostgreSQL10Dialect
    show-sql: false
  liquibase:
    contexts: dev
  kafka:
    bootstrap-servers: {{ kafka }}
    consumer:
      group-id: {{ component }}

server:
  port: {{ port }}

sudis:
  service-code: {{ lic.service_code }}
  spAuthEndpoint: {{ sudis.spAuthEndpoint }}
  saml:
    spfilter:
      acsUrl: http://{{ lic.balancer }}/login
      logoutUrl: http://{{ lic.balancer }}/logout
      idProviderSSOUrl: http://idp.{{ sudis.env }}/idp/profile/SAML2/POSTGOST/SSO
      idProviderSLOUrl: http://idp.{{ sudis.env }}/idp/profile/SAML2/Redirect/SLO
      relayStateUri: http://{{ lic.balancer }}/{{ lic.front_url }}
      sudisLogoutUrl: http://idp.{{  sudis.env }}/idp/Logout
    uri:
      logout: /service/logout
      login: /service/login
    session:
      sessionIndexPattern: ${SUDIS_SAML_SESSION_ID_PATTERN:'s:(.+?):'}
      deleteAllUserSessionFlag: false
  cms:
    enable: true
    encodeUrl: http://{{ sudis.cms }}/encode
    decodeUrl: http://{{ sudis.cms }}/decode
    senderKeySubject: {{ lic.cn_code }}
    recipientCertificateSubject: idp
    api:
      encode:
        url: http://{{ sudis.cms }}/encode
      decode:
        url: http://{{ sudis.cms }}/decode
    conn:
      timeout: ${SUDIS_CMS_CONN_TIMEOUT:20000}
    read:
      timeout: ${SUDIS_CMS_READ_TIMEOUT:20000}
    sp:
      key:
        subject: {{ lic.cn_code }}
    idp:
      cert:
        subject: ${SUDIS_IDP_SUBJECT:idp}
  connectionTimeout: 18000
  readTimeout: 18000

feign:
  spCode: {{ lic.service_code }}
  targetCode: {{ sudis.targetCode }}
  url: http://{{ feign.router }}
  services:
    rfPassport:
      url: http://{{ feign.rfPassport }}/passport-rf-external-backend
    adminApi:
      url: {{ adm.api_balancer }}
    nsi:
      url: {{ nsiUrl }}
    esfl:
      url: ${feign.url}/esfl/v1
    esul:
      url: http://{{ redirect.esulUrl }}
    adminMigration:
      url: {{ migration.admMigration }}
    migration.esulMigration: 
      url: {{ migration.esulMigration }}
    migration.nsiMigration:
      url: {{ migration.nsiMigration }}
    blank:
      #Not in router, need separate url
      url: http://{{feign.blank}}/blank-external-backend
    ad:
      #Not in router, need separate url
      url: http://{{ feign.ad }}/ad
    fileStorage:
      url: http://{{ feign.fileStorage }}
    simpleFileStorage:
      url: http://{{ feign.fileStorage }}
    signal:
      url: http://{{ feign.signal }}
    idgenerator:
      #Not in router, need separate url
      url: http://{{ feign.idgenerator }}/id-generator/api
    visa:
      url: http://{{ feign.visa }}
    mcd:
      url: http://{{ feign.mcd }}/mcd/api
    blankMigration:
      url: http://{{ feign.blankService }}

fileStorageClient:
  node: "{{ feign.fileStorage }}"

eureka:
  client:
    enabled: true
    serviceUrl:
      defaultZone: {{ eureka.url }}
  instance:
    preferIpAddress: true
    ip-address: {{ ansible_ssh_host }}
    non-secure-port: ${server.port}


proxy:
  settings:
    esfl-v1: http://{{ widgets.esfl_v1 }}/esfl/v1
    search-service-api: http://{{ widgets.search_service_api }}/search_service_api
    data-api-public: http://{{ widgets.data }}/data-api/public/
    data-manager-public: http://{{ widgets.data }}/data-manager/public/
    api-signals: http://{{ widgets.api_signals }}/api/signals

redirect:
  settings:
    selfUrl: http://{{ lic.balancer }}/{{ lic.front_url }}
    adminUrl: http://{{ adm.balancer }}
    nsiUrl: http://{{ redirect.nsiUrl }}/catalogs
    esflUrl: http://{{ redirect.esflUrl }}
    esulUrl: http://{{ redirect.esulUrl }}
    fsUrl: http://{{ redirect.fsUrl }}
    reportsUrl: http://{{ redirect.reportsUrl }}
    macUrl: http://{{ redirect.macUrl }}/mac/search
    analyticalReportsUrl: http://{{ redirect.analyticalReportsUrl }}

application:
  automigration:
    enabled: {{ lic.automigration.enabled }}
    cron: {{ lic.automigration.cron }}
    source: {{ lic.automigration.source }}

